<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Esimcampus.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>33A48864B6A3D5C83D49BC3642A7BFB3FFDD636C</string>
				<key>dateExpires</key>
				<string>31/10/25</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33A48864B6A3D5C83D49BC3642A7BFB3FFDD636C</string>
						<key>dateExpires</key>
						<string>31/10/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CFNetworkSDK.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>68622P8J4J</string>
						<key>name</key>
						<string>Pats Literary Solutions Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33A48864B6A3D5C83D49BC3642A7BFB3FFDD636C</string>
						<key>dateExpires</key>
						<string>31/10/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CashfreeAnalyticsSDK.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>68622P8J4J</string>
						<key>name</key>
						<string>Pats Literary Solutions Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33A48864B6A3D5C83D49BC3642A7BFB3FFDD636C</string>
						<key>dateExpires</key>
						<string>31/10/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CashfreePG.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>68622P8J4J</string>
						<key>name</key>
						<string>Pats Literary Solutions Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33A48864B6A3D5C83D49BC3642A7BFB3FFDD636C</string>
						<key>dateExpires</key>
						<string>31/10/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CashfreePGCoreSDK.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>68622P8J4J</string>
						<key>name</key>
						<string>Pats Literary Solutions Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33A48864B6A3D5C83D49BC3642A7BFB3FFDD636C</string>
						<key>dateExpires</key>
						<string>31/10/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CashfreePGUISDK.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>68622P8J4J</string>
						<key>name</key>
						<string>Pats Literary Solutions Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33A48864B6A3D5C83D49BC3642A7BFB3FFDD636C</string>
						<key>dateExpires</key>
						<string>31/10/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignal.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>68622P8J4J</string>
						<key>name</key>
						<string>Pats Literary Solutions Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33A48864B6A3D5C83D49BC3642A7BFB3FFDD636C</string>
						<key>dateExpires</key>
						<string>31/10/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>68622P8J4J</string>
						<key>name</key>
						<string>Pats Literary Solutions Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33A48864B6A3D5C83D49BC3642A7BFB3FFDD636C</string>
						<key>dateExpires</key>
						<string>31/10/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>68622P8J4J</string>
						<key>name</key>
						<string>Pats Literary Solutions Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33A48864B6A3D5C83D49BC3642A7BFB3FFDD636C</string>
						<key>dateExpires</key>
						<string>31/10/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalOutcomes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>68622P8J4J</string>
						<key>name</key>
						<string>Pats Literary Solutions Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33A48864B6A3D5C83D49BC3642A7BFB3FFDD636C</string>
						<key>dateExpires</key>
						<string>31/10/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Razorpay.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>68622P8J4J</string>
						<key>name</key>
						<string>Pats Literary Solutions Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33A48864B6A3D5C83D49BC3642A7BFB3FFDD636C</string>
						<key>dateExpires</key>
						<string>31/10/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>68622P8J4J</string>
						<key>name</key>
						<string>Pats Literary Solutions Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33A48864B6A3D5C83D49BC3642A7BFB3FFDD636C</string>
						<key>dateExpires</key>
						<string>31/10/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>68622P8J4J.com.mkt.studentportal.OneSignalNotificationServiceExtension</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>68622P8J4J</string>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>OneSignalNotificationServiceExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>15908b02-d101-47db-b3f8-097c23c7595f</string>
						<key>dateExpires</key>
						<string>31/10/25</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: com.mkt.studentportal.OneSignalNotificationServiceExtension</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>68622P8J4J</string>
						<key>name</key>
						<string>Pats Literary Solutions Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>2.00</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>68622P8J4J.com.mkt.studentportal</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>68622P8J4J</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Esimcampus.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>fab9645e-1f9a-4ebf-8a04-6d64e420ae2d</string>
				<key>dateExpires</key>
				<string>31/10/25</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.mkt.studentportal</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>68622P8J4J</string>
				<key>name</key>
				<string>Pats Literary Solutions Private Limited</string>
			</dict>
			<key>versionNumber</key>
			<string>2.00</string>
		</dict>
	</array>
</dict>
</plist>
